<div class="row" style="border: 1px solid rgb(207, 206, 195); width: 800px; height: 500px;">
    <div class="col-5">
        <img style="width: 280px; height: 350px; margin: 20px; margin-top: 70px;" src="https://thumbs.dreamstime.com/b/medical-education-literature-vector-concept-color-flat-icon-woman-college-student-reading-medicine-educational-book-e-learning-208629055.jpg" alt="">
    </div>
    <div class="col-6">


      <ul class="nav nav-pills my-5" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Intern</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Supervisors</a>
        </li>

      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <h1 style="margin-top: 40px;">Hello Intern</h1>
          <br>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam explicabo a eligendi perferendis ex at impedit ea nesciunt, molestias mollitia quae fuga qui officiis quisquam, consectetur enim aliquid consequuntur aspernatur?</p>
           <br>
           <button class="btn btn-primary btn-lg" [routerLink]="['/loginScreen2']">REGISTER NOW</button>
          </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <h1 style="margin-top: 40px;">Hello Supervisor</h1>
          <br>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam explicabo a eligendi perferendis ex at impedit ea nesciunt, molestias mollitia quae fuga qui officiis quisquam, consectetur enim aliquid consequuntur aspernatur?</p>
           <br>
           <button class="btn btn-primary btn-lg">LOG IN</button>
        </div>

      </div>



    </div>
  </div>

















<!-- <div class="center" style="border: 1px solid grey; width: 700px; height: 500px; margin-top: 180px;">


    <img style="position: relative; margin-top: 100px; margin-left: 10px; height: 250px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb4NzBeNKONdf37BCIy92N0sJjVas-Z7ylQQ7OzIswlvf3Wdq5FVfGRhWKPd8BgNyvCno&usqp=CAU" alt="">
    <div style="position: fixed; margin-top: 0;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Intern</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Supervisors</a>
        </li>
      </ul>
    </div>
</div> -->
