<div class="row">
  <div class="col-2 m-0"></div>
  <div class="col-8 m-0">
    <div class="row border-bottom pb-5">
      <h4 class="fw-light col-1">title:</h4>
      <input type="text" class="col form-control">
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 1:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 2:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 3:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 4:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 5:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 6:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 7:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 8:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 9:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <div class="text-center question pb-5 border-bottom">
      <div class="row mt-lg-5">
        <h3 class="fw-light col-2 lead"><b><u>question 10:</u></b></h3>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer A:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer B:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4 ">
        <h4 class="fw-light col-2 lead">Answer C:</h4>
        <input type="text" class="col form-control">
      </div>
      <div class="row mt-4">
        <h4 class="fw-light col-2 lead">Answer D:</h4>
        <input type="text" class="col form-control">
      </div>
    </div>
    <button class="btn btn-primary">Create test</button>
  </div>
  <div class="col-2 m-0"></div>
</div>
