<div class="container text-center">
  <h1 style=""><span style="color: rgb(46, 199, 46); font-size: 50px;">&#10003;</span> Your profile is
    ready!</h1>
  <h4 class="mt-5">Now you can start using the simulator system: practice, do tests</h4>
  <h4>and monitor your progress.</h4>
  <br><br><br>

  <button class="btn btn-info btn-lg " [routerLink]="['/user-board']">LOG IN</button>
  <br>
  <br><br><br>

  <div class="d-flex justify-content-center">
    <div class="col-6">
  <p class="text-center">100 % completed</p>
  <div class="progress">
    <div class="progress-bar bg-info " role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
</div>
</div>
</div>
<br><br><br><br>
