<div class="container my-5 justify-content-center border">
  <form>
    <div class="form-group">

      <label class="col-9 col" for="phoneNumber" style="font-size: 40px; margin-left: 130px; text-align:center">For log in please type your phone number:</label>
      <input #inp style="width: 500px; font-size: 30px; margin: auto; text-align:center" class="col-3 m-2 just" type="number" class="form-control" id="phoneNumber" autofocus>
      <br>
      <button  class="btn btn-lg btn-primary" style="margin-left: 45%;" (click)="sendClick(inp.value)" >SEND CODE</button>
    </div>
  </form>
<br>

  <h3 class="text-center">Type your code:</h3>
  <br>
  <div class="row text-center">

    <form  #inputsForm="ngForm">

      <input #inp1 name="inp1" (keyup)="autotab(inp1, inp2)" class="col-1 "     style="font-size: 30px; text-align: center;" type="number" autofocus required maxlength=1 >
      <input #inp2 name="inp2" (keyup)="autotab(inp2, inp3)" class="col-1 ml-4" style="font-size: 30px; text-align: center;" type="number" required maxlength=1 >
      <input #inp3 name="inp3" (keyup)="autotab(inp3, inp4)" class="col-1 ml-4" style="font-size: 30px; text-align: center;" type="number" required maxlength=1 >
      <input #inp4 name="inp4" (keyup)="autotab(inp4, inp4)" class="col-1 ml-4" style="font-size: 30px; text-align: center;" type="number" required maxlength=1 >


    </form>
    <br>
  </div>
  <div class="text-center">
    <p style="color: red;">{{errMsg}}</p>


    <button class="btn btn-primary btn-lg" type="submit" (click)="chackPassword(inp1.value, inp2.value, inp3.value, inp4.value)">Continue</button>
  </div>
</div>
