<div class="d-flex justify-content-center text-center">
  <div class="card" style="width:25rem">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="text-center">
          <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
        </div>
        <div class="form-group">
          <label>Select file to upload</label>
          <input type="file" class="form-control" #fileUploader formControlName="fileUrl" (change)="showPreview($event)">
          <div class="text-danger" *ngIf="isSubmitted && formControls.fileUrl.errors?.required">This field is required.</div>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="medInstatution" placeholder="Medical Instatution">
          <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required.</div>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="caption" placeholder="Caption">
          <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required.</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <a routerLink="/file/list" class="btn btn-primary btn-block float-right">Back To Gallery</a>
          </div>
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
