
<h1 class="d-flex justify-content-center">Welcome intern!</h1>
<h4 class="d-flex justify-content-center">Please fill in the following fields to create an account</h4>
<br>
<div class="d-flex justify-content-center">
<form name="form1" #form1="ngForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01" style="color: grey;">Full Name</label>
        <input #bb [(ngModel)]="user.name" class="form-control" name="bb" type="text"
        class="form-control" id="validationDefault01" placeholder="Name" value="" required
        pattern="^[a-zA-Z]{2,}(?: [a-zA-Z]+){0,2}$">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02" style="color: grey;">ID Number</label>
        <input #idNumber [(ngModel)]="user.id" name="cc" type="string" class="form-control"
        id="validationDefault02" placeholder="ID" value="" required
        pattern="^[0-9]{6,10}">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02" style="color: grey;">Passport Number</label>
        <input [(ngModel)]="user.passportNumber" name="dd" type="text" class="form-control"
        id="validationDefault02" placeholder="Passport number" value="" required pattern="^[0-9]{6,10}">
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03" style="color: grey;">Phone Number</label>
        <input [(ngModel)]="user.phoneNumber" name="ee" Address ng type="number" class="form-control" id="validationDefault03" placeholder="Phone number" required>
      </div>

    </div>


        <br>
        <h5 class="d-flex justify-content-center">A verifacation code will sent to you to this phone number.</h5>
        <br>
<div class="d-flex justify-content-center">
  <h5 *ngIf="error" style="color: red;">Phone number allredy exist, type differnt phone number</h5>
</div>
<div class="d-flex justify-content-center">
  <button [disabled]='form1.invalid' class="btn btn-primary btn-lg justify-content-center" type="submit" (click)="getInformation()">CONTINUE</button>
</div>


  </form>
</div>
