<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3 class="pb-5 border-bottom">Hello {{userService.currentUser.name}}</h3>
    <div class="row body">
      <h1>question 1: 2+2</h1>
    </div>
    <div class="answers" *ngFor="let a of testService.currentTest.questions[0].answers; let i=index">
      <div class="row">
        <input #answer1 class="form-check-input" name="flexRadioDefault" type="radio" value="{{String.fromCharCode(charNum + i)}}" id="answer1"
          (click)="clic(answer1.value)">
        <label class="form-check-label" for="answer1">Check checkbox</label>
      </div>


  </div>


</div>

<div class="col-2"></div>
