/* You can add global styles to this file, and also import other style files */
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
